.footer {
  width: 318px;
  height: 18px;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 200px;
  padding-bottom: 60px;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer {
    width: 282px;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    padding-bottom: 36px;
    padding-left: 19px;
  }
}
