body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
.page {
  max-width: 1280px;
  min-width: 320px;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
}
